<!DOCTYPE html>
<html lang="en">

<%- include('../partials/header_wide') %>

<body>
    <table style="width: 80%; text-align: left; margin-left: auto; margin-right: auto;" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td style="width: 40%">
                    <h1>
                        <%= show.title %>
                        <button onclick="location.href='/show/<%= show._id %>/edit'" class="edit">Edit</button>
                        <button onclick="location.href='/show/<%= show._id %>/delete'" class="delete">Delete</button>
                    </h1>
                </td>
                <td style="text-align: right;">
                    <%= show.description %>
                </td>
                <td style="width: 10%; text-align: center">
                    <button onclick="location.href='/show/<%= show._id %>/new_episode'" class="new">Add new episode</button>
                </td>
            </tr>
        </tbody>
    </table>

    <table style="width: 80%; text-align: left; margin-left: auto; margin-right: auto;" border="1" cellpadding="2"
        cellspacing="2">
        <tbody>

            <% episodelist.forEach(function(episode){ %>
                <tr style="height: 50px;">
                    <td style="width: 15%; text-align: center">S<%= episode.season %>E<%= episode.episode %></td>
                    <td style="width: 60%;"><%= episode.title %></td>
                    <td style="width: 5%; text-align: center">
                        <% if (episode.seen == true) { %>
                            <input type="checkbox" id="seen" onclick="return mark('<%= episode._id %>', false);" checked>
                        <% }else{ %>
                            <input type="checkbox" id="seen" onclick="return mark('<%= episode._id %>', true);" unchecked>
                        <% } %>
                        <script>
                            function mark(ep_id, change_to){
                                if(change_to)
                                    window.location='<%= show._id %>/' + ep_id + '/check/mark'
                                else
                                window.location='<%= show._id %>/' + ep_id + '/check/unmark'
                            }
                        </script>
                    </td>
                    <td style="width: 10%; text-align: center">
                        <button onclick="location.href='/show/<%= show._id %>/<%= episode._id %>/edit'" class="edit">Edit</button>
                    </td>
                    <td style="width: 10%; text-align: center">
                        <button onclick="location.href='/show/<%= show._id %>/<%= episode._id %>/delete'" class="delete">Delete</button>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <table style="width: 80%; text-align: left; margin-left: auto; margin-right: auto;" cellpadding="2" cellspacing="2">
        <tbody>
            <tr>
                <td><button onclick="location.href='/'" class="back">Back</button></td>
            </tr>
        </tbody>
    </table>
</body>

</html>